# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.vscode/

# Local model weights
models/
*.pth
*.pkl

# Local runtime outputs & logs
*.log
*.csv
podfam/
thesis_run_v2/*

# Allow specific deliverables
!thesis_run_v2/*.png
!thesis_run_v2/D1_*.csv
